.tabs {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.button {
  font-size: 1.5rem;
  border-radius: 4px;
  border: 1px solid #87bdd8;
  background-color: #87bdd8;
}

.button:hover {
  background-color: skyblue;
}

.tab-active {
  color: red;
  background-color: white;
}

.list {
  list-style: none;
  padding-inline-start: 0px;
  margin-left: 15%;
  width: 70%;
}

.cash {
  color: greenyellow;
}

.title {
  color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  .tabs {
    flex-direction: column;
  }
}
